@model IEnumerable<SIMS.Web.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses Taught by This Faculty</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Credits</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CourseCode</td>
                <td>@item.CourseName</td>
                <td>@item.Credits</td>
            </tr>
        }
    </tbody>
</table>